/* Define root variables for easy customization and maintainability */
:root {
  --border-light: 1px solid #ddd;
  --margin-small: 0.5rem;
  --margin-large: 1rem;
  --font-bold: 700;
  --font-large: 1.5rem;
  --legend-background: #eee;
  --legend-padding: 0.5rem;
  --legend-border: 1px solid #333;
  --button-padding: 1rem 2rem;
  --result-font: "Courier New", monospace;
  --background-color-primary: #004ba0;
  --background-color-primary-hover: #003b80;
  --background-color-secondary: #bf360c;
  --background-color-secondary-hover: #9f2d07;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: var(--margin-large);
  max-width: 90%;
}

/* Media queries */
@media screen and (max-width: 768px) {
  body {
    padding: var(--margin-small);
  }

  section {
    margin: var(--margin-small) 0;
  }

  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 750px;
  }
}

/* Form elements */
label,
#copyToClipboard {
  display: block;
}

/* Count Display */
#positivePromptCount,
#negativePromptCount {
  margin: 0 var(--margin-small);
  width: 2rem;
  text-align: center;
}

/* Sections */
section {
  padding: 0.5rem;
  margin: var(--margin-large) 0;
  border: var(--border-light);
}

/* Legends */
legend {
  font-size: var(--font-large);
  font-weight: var(--font-bold);
  background-color: var(--legend-background);
  padding: var(--legend-padding);
  margin-bottom: 0.25rem;
  border: var(--legend-border);
}

/* Credits */
.credit {
  text-align: right;
}

/* Lists */
ol li {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Input groups */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-small);
}

.input-group label {
  margin-right: var(--margin-small);
  white-space: nowrap;
}

.input-group__label[for="positiveWeight"] {
  flex-grow: 1;
}

input[type="range"] {
  flex-grow: 2;
  margin-right: var(--margin-small);
}

/* Buttons */
button {
  padding: var(--button-padding);
  transition: background-color 0.3s ease;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

#showInstructions,
#copyToClipboard,
#closeInstructions,
#clearLocalStorage {
  background-color: var(--background-color-primary);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
}

#showInstructions:hover,
#copyToClipboard:hover,
#closeInstructions:hover,
#clearLocalStorage:hover {
  background-color: var(--background-color-primary-hover);
}

#closeInstructions,
#clearLocalStorage {
  background-color: var(--background-color-secondary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#closeInstructions:hover,
#clearLocalStorage:hover {
  background-color: var(--background-color-secondary-hover);
}

/* Increment/Decrement buttons */
#positivePromptIncrement,
#positivePromptDecrement,
#negativePromptIncrement,
#negativePromptDecrement {
  position: relative;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  line-height: 1.7rem;
  text-align: center;
  border: none;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

#positivePromptIncrement:hover,
#positivePromptDecrement:hover,
#negativePromptIncrement:hover,
#negativePromptDecrement:hover {
  background-color: #ccc;
}

/* To center the "+" and "-" signs */
#positivePromptIncrement::before,
#positivePromptDecrement::before,
#negativePromptIncrement::before,
#negativePromptDecrement::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Assign the content */
#positivePromptIncrement::before,
#negativePromptIncrement::before {
  content: "+";
}

#positivePromptDecrement::before,
#negativePromptDecrement::before {
  content: "-";
}

/* Results */
.result-group,
.result-input {
  font-family: var(--result-font);
  font-weight: var(--font-bold);
}

.result-input {
  font-size: 0.9rem;
}

#result {
  box-sizing: border-box;
  margin: var(--margin-small) 0;
  width: 100%;
}

/* Toast messages */
#toast {
  visibility: hidden;
  min-width: 15.625em;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.125em;
  padding: 1em;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 1.875em;
  font-size: 1.0625em;
  opacity: 0;
  transition:
    opacity 0.5s,
    visibility 0.5s;
  transform: translateX(-50%);
}

#toast a {
  color: #b3b3b3;
  text-decoration: underline;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.5s,
    visibility 0.5s;
}

/* Animations */
@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 1s;
  background-color: transparent;
}

/* Overlays */
.overlay {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: relative;
  overflow: auto;
  top: 0;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 80%;
  max-width: 600px;
}

.overlay-content h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.overlay-content ol {
  margin-top: 0;
}

.overlay-content p {
  margin-bottom: 1rem;
}

.overlay-close {
  text-align: right;
}
